#input {
  color:green;
  background-color: rgb(243, 205, 205);
  width:100px;
  height:40px;
  text-align:left;
  margin:20px;
  font-family: 'times new roman'
}
#mybutton {
  color:red;
  background-color: pink;
  width:40px;
  height:40px;
  text-align:center;
  margin:20px;
}
#wordToShow {
  padding: 8%;
  font: sans-serif;
  font-size: larger

}
#progressBar{
background-color: gray;
width:  70%;
box-shadow: dimgrey 10px;
align-self: center;
padding-bottom: 0%;
margin-left: 8%
}
#bar{
  background-color: gold;
  font: sans-serif 4px;
  padding-left: 8%;
  align-self: center;
  
}

#main {
  width: 50vw;
  height: 50vw;
  align-self: center;
  align-content: center;
  background-color: deepskyblue;
  border: dotted 5px;
  box-shadow: darkviolet;
  margin: 25vw;
}