#pa {
  color: red;
  font: sans-serif 120px;
  font-size: 48px;
}

#mainContent {
text-align: center;
font-family:  Helvetica, sans-serif;
font-size: 14px;
background: lightblue;

height: 100%;
}

canvas {
  margin-top: 10px;
  border: 5px solid black;
  margin-right: 190px;
}

#ints {
  margin: 10px 50px;
  
  font: sans-serif 24px;
  border: red 5px;
  float: left;
}


@keyframes colorSwift {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

#restartBtn:hover {
  animation-name: colorSwift;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#restartBtn {
  margin-bottom: 2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl;
  float: inherit;
}

#scoreBtn:hover {
  animation-name: colorSwift;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#scoreBtn {
  margin-bottom: 2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl;
  float: inherit;
}

#scoreTable {
  float: right;
  padding: 10px;
  margin-right: 200px;
  width: fit-content;
  font-size: 20px;
}

#scoreTable tr:nth-child(even) {
  background-color: blue;
}

#scoreTable tr:hover {
  background-color: fuchsia;
}

footer{
  background: lightgray;
  padding: 12px;
  margin-block-end: 0%;
}

nav#divFooter ul li {
  
  display: inline;
  margin-top: 95px;
  width: 100%;
  height: 30px;
  font-family:  Helvetica, sans-serif;
font-size: 14px;
}

