box {
    border: 10px black solid;
    box-shadow: aqua;
    float: left;
    border-color: black;
}
box2 {
    border: 10px black solid;
    box-shadow: aqua;
    border-color: black;
    float: left;
    width:  500px;
    height: 500px;
}

.imgBig
{
  width: 500px;
  height: 500px;
}
